titulo{
    color: red;
}

.theme{
    padding: 1vh;
    background-color: black;
    color: white;
    border-radius: 2vh;
}

.cont{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.menu{
    width: 5vh;
}